image: plugins-master:latest

stages:
  - test
  - deploy

deploy-plugins:
  stage: deploy
  script:
    - python3 .ci/deploy.py

test-isort:
  image: gajim-test
  stage: test
  rules:
    - changes:
      - "**/*.py"
  script:
    - isort --version
    - isort --check .
  interruptible: true

test-ruff-lint:
  image: gajim-test
  stage: test
  rules:
    - changes:
      - "**/*.py"
  script:
    - ruff --version
    - ruff check --output-format=gitlab --output-file=code-quality-report.json
  artifacts:
    reports:
      codequality: $CI_PROJECT_DIR/code-quality-report.json
  interruptible: true

test-ruff-format:
  image: gajim-test
  stage: test
  rules:
    - changes:
      - "**/*.py"
  script:
    - ruff --version
    - ruff format --diff
  interruptible: true
